<%-include('./head.ejs') %>
<title>LetsCode Change Password</title>
<link rel="stylesheet" href="/homePage.css">
<link rel="stylesheet" href="/popFoot.css">
<link rel="stylesheet" href="/responsiv.css">
<body>
    <%-include('./navAndMsg.ejs') %>

    <div class="card otpCard">
        <div class="card-body">
          <h3 class="card-title">Recover Password</h3>
          <div>
            <form method="post" action="/LetsCode/Forget/Password/Change?_method=PUT" class="needs-validation" novalidate>
                <div class="forgetContainer">
                    <input type="text" name="username" class="form-control forgetData" value="<%=uName%>" readonly>
                    <input type="email" name="email" class="form-control forgetData" placeholder="E-mail" value="<%=email%>" readonly>
                    <input type="password" name="passwordSet" class="form-control forgetData" placeholder="Enter New Password" required>
                </div>
                <button type="submit" class="btn btn-primary otpVerify">Change Password</button>
            </form>
          </div>
        </div>
    </div>

    <%-include('./footer.ejs')%>

<script src="/inputValidate.js"></script>
</body>
</html>